$widthSite: 1500px;
$colorWhite: rgb(255, 255, 255);
$colorBleu: rgb(36, 0, 255);
$colorPink: rgb(252, 120, 255);
$colorBluPpurple: rgb(126, 43, 217);
$boxShadow: rgba(0, 0, 0, 0.6) 0px 15px 25px;
$textShadow: 10px 10px 30px $colorBleu, -10px -10px 30px $colorBluPpurple;